{% extends 'epi_admin/base.html' %}
{% block title %}{{ colaborador.nome }}{% endblock %}
{% block content %}
<h2>{{ colaborador.nome }} {{ colaborador.sobrenome }}</h2>
<div class="detail-box">
    <p><strong>Nome:</strong> {{ colaborador.nome }}</p>
    <p><strong>Sobrenome:</strong> {{ colaborador.sobrenome }}</p>
    <p><strong>Setor:</strong> {{ colaborador.setor }}</p>
    <p><strong>CPF:</strong> {{ colaborador.cpf }}</p>

    {% if colaborador.fotoColaborador %}
        <p><strong>Foto:</strong></p>
        <img src="{{ colaborador.fotoColaborador.url }}" alt="Foto de {{ colaborador.nome }}">
    {% else %}
        <p><em>Nenhuma foto cadastrada.</em></p>
    {% endif %}
</div>

<div>
    <a href="{% url 'colaborador_update' colaborador.pk %}" class="btn">✏️ Editar</a>
    {% if user.is_superuser or colaborador.created_by and colaborador.created_by.id == user.id and perms.epi_admin.change_colaborador%}
        <a href="{% url 'colaborador_delete' colaborador.pk %}" class="btn danger">🗑️ Deletar</a>
    {% endif %}
    <a href="{% url 'colaborador_list' %}" class="btn secondary">← Voltar</a>
</div>
{% endblock %}
